.people-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6e6e6;
}

/*바다 배경*/
.ocean {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh; /* 원하는 높이로 조정 가능 */
  background: #0A316F;
  overflow: hidden;
}

/*파도 애니메이션 */
.wave {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg") repeat-x;
  position: absolute;
  top: -50px;
  width: 6400px;
  height: 700px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

/*두 번째 파도 (속도 차이 적용)*/
.wave:nth-of-type(2) {
  top: -75px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

/*파도가 좌우로 자연스럽게 이동 */
@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px; }
}

/*물결이 위아래로 흔들리는 효과 */
@keyframes swell {
  0%, 100% { transform: translate3d(0, -25px, 0); }
  50% { transform: translate3d(0, 5px, 0); }
}

.swiper {
  position: relative;
  z-index: 1;
  width: 100vw;
  max-width: 1200px;
  overflow: visible;
}

.swiper-slide {
  position: relative;
  width: 200px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  transition: 1s;
  user-select: none;
  display: flex; /* Add flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(70, 83, 156, 0.8),
    rgba(39, 8, 92, 0.8)
  );
  mix-blend-mode: multiply;
  z-index: 1;
}

.swiper-slide img {
  width: 100%; /* Adjust width to 100% */
  height: 100%; /* Ensure height is 100% */
  object-fit: cover; /* Ensure the image covers the container */
  transition: 1s;
}

.swiper-slide p {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2px;
  z-index: 2;
  opacity: 0;
  transform: rotate(360deg) scale(0);
  transition: 0.8s;
}

.swiper-slide-active {
  position: relative;
  width: 350px;
  transition: 1s;
}

.swiper-slide-active::after {
  background: rgba(123, 123, 123, 0.4);
}

.swiper-slide-active img {
  transform: scale(1.3);
  object-position: 50% 0%;
}

.swiper-slide-active p {
  transform: rotate(0deg) scale(1);
  opacity: 1;
  width: 400px;
  height: 600px;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #a5a5a5;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 32px;
  background-color: #124d6f;
  border-radius: 14px;
}